@import "syntax-variables";

atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

atom-text-editor .gutter, :host .gutter {
  background-color: @syntax-gutter-background-color;
  color: @syntax-gutter-text-color;
}

atom-text-editor .gutter .line-number.cursor-line, :host .gutter .line-number.cursor-line {
  background-color: @syntax-gutter-background-color-selected;
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .gutter .line-number.cursor-line-no-selection, :host .gutter .line-number.cursor-line-no-selection {
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .wrap-guide, :host .wrap-guide {
  color: @syntax-wrap-guide-color;
  opacity: .75;
}

atom-text-editor .indent-guide, :host .indent-guide {
  color: @syntax-indent-guide-color;
}

atom-text-editor .invisible-character, :host .invisible-character {
  color: @syntax-invisible-character-color;
}

atom-text-editor .search-results .marker .region, :host .search-results .marker .region {
  background-color: transparent;
  border: @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region, :host .search-results .marker.current-result .region {
  border: @syntax-result-marker-color-selected;
}

atom-text-editor.is-focused .cursor, :host(.is-focused) .cursor {
  border-color: @syntax-cursor-color;
}

atom-text-editor.is-focused .selection .region, :host(.is-focused) .selection .region {
  background-color: @syntax-selection-color;
}

/*atom-text-editor.is-focused .line-number.cursor-line-no-selection, atom-text-editor.is-focused .line.cursor-line, :host(.is-focused) .line-number.cursor-line-no-selection, :host(.is-focused) .line.cursor-line {
  background-color: #333435;
}*/

//specific styling

.comment:not(.gfm) {
  font-style: italic;
  color: @tubster-color-comment;
}

.keyword, .storage {
  color: @tubster-color-keyword;
}

.entity.name.function, .keyword.other.name-of-parameter.objc {
  color: @tubster-color-function;
}

.entity.name {
  color: @tubster-color-entity;
}

.constant.numeric {
  color: @tubster-color-numeric;
}

.variable.language, .variable.other {
  color: @tubster-color-variable;
}

.constant {
  color: @tubster-color-constant;
}

.variable.other.constant {
  color: @tubster-color-constant;
}

.constant.language {
  color: @tubster-color-variable;
}

.string {
  color: @tubster-color-string;
}

.support.function {
  color: @tubster-color-support-function;
}

.support.type {
  color: @tubster-color-support-function;
}

.support.constant {
  color: @tubster-color-string;
}

.meta.tag, .declaration.tag, .entity.name.tag, .entity.other.attribute-name {
  color: @tubster-color-function;
}

.invalid {
  color: #FFFFFF;
  background-color: #CC0000;
}

.constant.character.escaped, .constant.character.escape, .string .source, .string .source.ruby {
  color: #519F50;
}

.markup.inserted {
  color: @tubster-color-markup-text;
  background-color: #669966;
}

.markup.deleted {
  color: @tubster-color-markup-text;
  background-color: #993333;
}

.meta.diff.header, .meta.separator.diff, .meta.diff.index, .meta.diff.range {
  background-color: @tubster-color-header;
}

.markup {
  &.bold {
    color: desaturate(@tubster-color-other-constant, 10%);
    font-weight: bold;
  }

  &.changed {
    color: @tubster-color-header;
  }

  &.deleted {
    color: @tubster-color-support-function;
  }

  &.italic {
    color: @tubster-color-variable;
    font-style: italic;
  }

  &.heading .punctuation.definition.heading {
    color: @tubster-color-keyword;
  }

  &.inserted {
    color: @tubster-color-string;
  }

  &.list {
    color: @tubster-color-constant;
  }

  &.quote {
    color: @tubster-color-function;
  }

  &.raw.inline {
    color: @tubster-color-numeric;
  }

  &.raw.gfm.support.gfm {
    color: @tubster-color-header;
  }

  &.strike.gfm {
    color: @tubster-color-keyword;
    text-decoration: line-through;
  }
}

.source.gfm {
  .markup {
    -webkit-font-smoothing: auto;
    &.heading {
      color: @tubster-color-other-constant;
      font-weight: bold;
    }

    &.link {
      color: @tubster-color-variable;
    }
  }

  .comment.hr.gfm {
    color: @tubster-color-string;
  }

  .comment.quote.gfm {
    .support.quote.gfm{
      font-style: normal;
      color: @syntax-color-renamed;
    }
    font-style: italic;
    color: @syntax-text-color;
  }

  .raw.gfm {
    .support.gfm{
      color: @tubster-color-header;
      font-style: italic;
    }
    color: @tubster-color-constant;
  }

  .raw.gfm.support.gfm {
    color: @tubster-color-function;
  }

  .link .entity {
    color: @tubster-color-header;
  }
  .critic.gfm {
    .addition {
      color: @tubster-color-string;
    }
    .deletion {
      color: @tubster-color-other-constant;
    }
    .substitution {
      color: @tubster-color-function;
    }
    .comment {
      font-style: normal;
      color: @tubster-color-constant;
    }
    .highlight {
      color: @tubster-color-keyword
    }
  }
  .comment.block.gfm {
    font-style: italic;
    color: @tubster-color-comment;
  }
}

.source.gfm.critic.gfm.comment {
  font-style: normal;
  color: @tubster-color-constant;
}

.list.gfm {
  color: @tubster-color-constant;
}

//criticmarkup fixes
.critic.gfm.addition {
  color: @tubster-color-string;
}
.critic.gfm.deletion {
  color: @tubster-color-other-constant;
}
.critic.gfm.substitution {
  color: @tubster-color-function;
}
.critic.gfm.comment {
  color: @tubster-color-constant;
}
.critic.gfm.highlight {
  color: @tubster-color-keyword;
}



//html fixes

.meta.tag.block.any.html{
  color: @tubster-color-support-function;
  .punctuation.definition.tag.begin.html{
    color: @tubster-color-function;
  }
  .punctuation.definition.tag.end.html{
    color: @tubster-color-function;
  }
  .entity.other.attribute-name.html{
    color: @tubster-color-support-function;
    font-style: italic;
  }
}

//LESS fixes

.source.css.less{
  .variable.other.less{
    color: @tubster-color-string;
  }
}

//JSON fixes
.source.json {
    .string.quoted.double.json {
      color: @tubster-color-constant;
      .punctuation.definition.string {
        color: @tubster-color-constant;
      }
    }
    .meta.structure.dictionary.value.json {
      .string.quoted.double.json {
        .punctuation.definition.string {
          color: @tubster-color-string;
        }
        color: @tubster-color-string;
      }
    }
  }

//YAML fixes

.front-matter.yaml {
  .entity.name.tag.yaml {
    text-decoration: underline;
    font-style: normal;
  }
  .string {
    font-style: italic;
  }
}

.source.yaml {
  .string.unquoted.yaml {
    .entity.name.tag.yaml {
      font-style: bold;
    }
  }
}
//Hue Rotation

.embedded {
    &.coffee { -webkit-filter: hue-rotate(90deg); }
    &.js { -webkit-filter: hue-rotate(180deg); }
    &.css { -webkit-filter: hue-rotate(270deg); }
}

//PHP Polish

.meta.function-call.php {
  color: @tubster-color-function;
}
