@import "colors";
//specific styling

.syntax--comment:not(.gfm) { //Keeps CriticMarkup in GFM  from being italics
  font-style: italic;
  color: @pubster-color-comment;
}

.syntax--keyword, .syntax--storage {
  color: @pubster-color-keyword;
}

.syntax--entity.syntax--name.syntax--function, .syntax--keyword.syntax--other.syntax--name-of-parameter.syntax--objc {
  color: @pubster-color-function;
}

.syntax--entity.syntax--name {
  color: @pubster-color-entity;
}

.syntax--constant.syntax--numeric {
  color: @pubster-color-numeric;
}

.syntax--variable.syntax--language, .syntax--variable.syntax--other {
  color: @pubster-color-variable;
}

.syntax--constant {
  color: @pubster-color-constant;
}

.syntax--variable.syntax--other.syntax--constant {
  color: @pubster-color-constant;
}

.syntax--constant.syntax--language {
	color: @pubster-color-variable;
}

.syntax--string {
  color: @pubster-color-string;
}

.syntax--support.syntax--function {
  color: @pubster-color-support-function;
}

.syntax--support.syntax--type {
  color: @pubster-color-support-function;
}

.syntax--support.syntax--constant {
  color: @pubster-color-string;
}

.syntax--meta.syntax--tag, .syntax--declaration.syntax--tag, .syntax--entity.syntax--name.syntax--tag, .syntax--entity.syntax--other.syntax--attribute-name {
  color: @pubster-color-function;
}

.syntax--invalid {
  color: #FFFFFF;
  background-color: #CC0000;
}

.syntax--constant.syntax--character.syntax--escaped, .syntax--constant.syntax--character.syntax--escape, .syntax--string .syntax--source, .syntax--string .syntax--source.syntax--ruby {
  color: #519F50;
}


.syntax--meta.syntax--diff.syntax--header, .syntax--meta.syntax--separator.syntax--diff, .syntax--meta.syntax--diff.syntax--index, .syntax--meta.syntax--diff.syntax--range {
  background-color: @pubster-color-header;
}


//Hue Rotation
// .embedded {
//     &.coffee { -webkit-filter: hue-rotate(90deg); }
//     &.js { -webkit-filter: hue-rotate(180deg); }
//     &.css { -webkit-filter: hue-rotate(270deg); }
// }


@import "editor";
@import "gfm";
@import "html";
@import "less";
@import "yaml";
@import "php";
@import "ruby";
@import "json";
@import "git";
@import "markdown";
@import "markup";
@import "python";
