// These colors are specific to the theme. Do not use in a package!
@import "syntax-variables";

@_blue        : rgb(52,152,219);
@_bright-blue : rgb(30,144,255);
@_bright-red  : rgb(217,30,24);
@_gray        : rgb(126,126,126);
@_light-green : rgb(154,205,50);
@_orange      : rgb(230,126,34);
@_orangered   : rgb(230,48,34);
@_pastel-blue : rgb(107,185,240);
@_green       : rgb(101,166,101);
@_yellow      : rgb(244,208,63);


@tubster-color-comment          : @_gray;
@tubster-color-constant         : @_blue;
@tubster-color-function         : @_yellow;
@tubster-color-header           : @_bright-blue;
@tubster-color-keyword          : @_orange;
@tubster-color-numeric          : @_pastel-green;
@tubster-color-other-constant   : @_bright-red;
@tubster-color-string           : @_light-green;
@tubster-color-support-function : @_orangered;
@tubster-color-support-type     : @_pastel-blue;
@tubster-color-variable         : @_blue;



// @tubster-color-comment          : #767676;
// @tubster-color-constant         : #34A2D9;
// @tubster-color-entity           : #FFFFFF;
// @tubster-color-function         : #FFCC33;
// @tubster-color-header           : #3366FF;
// @tubster-color-keyword          : #CC6633;
// @tubster-color-numeric          : #99CC66;
// @tubster-color-other-constant   : #CC3333;
// @tubster-color-string           : #99CC33;
// @tubster-color-support-function : #DA4939;
// @tubster-color-support-type     : #6E9CBE;
// @tubster-color-variable         : #3399CC;

// @light-green : @tubster-color-string;
// @pastel-green: @tubster-color-numeric;
// @bright-red  : @tubster-color-other-constant;
// @orangered   : @tubster-color-support-function;
// @orange      : @tubster-color-keyword;
// @yellow      : @tubster-color-function;
// @gray        : @tubster-color-comment;
// @bright-blue : @tubster-color-header;
// @blue        : @tubster-color-variable;
// @light-blue  : @tubster-color-constant;
// @pastel-blue : @tubster-color-support-type;
