// These colors are specific to the theme. Do not use in a package!
@import "syntax-variables";

@tubster-color-other-constant   : #CC3333;
@tubster-color-variable         : #3399CC;
@tubster-color-string           : #99CC33;
@tubster-color-comment          : #767676;
@tubster-color-keyword          : #CC6633;
@tubster-color-function         : #FFCC33;
@tubster-color-entity           : #FFFFFF;
@tubster-color-numeric          : #99CC66;
@tubster-color-constant         : #34A2D9;
@tubster-color-support-function : #DA4939;
@tubster-color-support-type     : #6E9CBE;
@tubster-color-markup-text      : #E6E1DC;
@tubster-color-header           : #3366FF;

@light-green : @tubster-color-string;
@pastel-green: @tubster-color-numeric;
@bright-red  : @tubster-color-other-constant;
@orangered   : @tubster-color-support-function;
@orange      : @tubster-color-keyword;
@yellow      : @tubster-color-function;
@gray        : @tubster-color-comment;
@bright-blue : @tubster-color-header;
@blue        : @tubster-color-variable;
@light-blue  : @tubster-color-constant;
@pastel-blue : @tubster-color-support-type;
