@import "colors";

.punctuation.definition.tag {
  color: @syntax-text-color;
  opacity: .75;
}

.entity.other.attribute-name.html {
  color: desaturate(@tubster-color-support-function, 10%);
}
.doctype.html {
  color: @syntax-text-color;
}

.link.http.hyperlink {
  color: @yellow;
  text-decoration: underline;
}
