@import "colors";

.syntax--source.syntax--json {
  .syntax--string.syntax--quoted.syntax--double.syntax--json {
    color: @pubster-color-constant;
    .syntax--punctuation.syntax--definition.syntax--string {
      color: @pubster-color-constant;
    }
  }
  .syntax--meta.syntax--structure.syntax--dictionary.syntax--value.syntax--json {
    .syntax--string.syntax--quoted.syntax--double.syntax--json {
      .syntax--punctuation.syntax--definition.syntax--string {
        color: @pubster-color-string;
      }
      color: @pubster-color-string;
    }
  }
}
