@import "colors";

.text.html.php{
  .meta.function-call.php {
    color: @pubster-color-function;
  }
  .support.class.php {
    color: @pubster-color-support-type;
  }

  .link.http.hyperlink {
    //color: @yellow;
    text-decoration: underline;
  }

  .meta.embedded.line.php {
    background: fade(@_neutral, 20%);
  }

}
