@import "colors";

.source.ruby {
  .keyword.control {
    color: @pubster-color-keyword;
    font-style: normal;
    font-weight: normal;
  }
  .class {
    font-style: italic;
    font-weight: bold;
  }
  .constant {
    color: @pubster-color-numeric;
  }
  .symbol {
    color: @pubster-color-variable;
  }
  .punctuation.definition.constant {
    color: @pubster-color-variable;
  }
  .constant.other.symbol {
    color: @pubster-color-variable;
  }
}
