@import "colors";

.syntax--front-matter.syntax--yaml {
	.syntax--entity.syntax--name.syntax--tag.syntax--yaml {
		text-decoration: underline;
		font-style: normal;
	}
	.syntax--string {
		font-style: italic;
	}
}

.syntax--source.syntax--yaml {
	.syntax--string.syntax--unquoted.syntax--yaml {
		.syntax--entity.syntax--name.syntax--tag.syntax--yaml {
			font-style: bold;
		}
	}
}
